.checkbox {
  position: relative;
  &-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &+.completed {
      color: rgba(0, 0, 0, 0.54);
      text-decoration: line-through;
    }
    &+label {
      padding-left: 28px;
      position: relative;
    }
    &+label:before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      width: 18px;
      height: 18px;
      border: 1px solid #dddddd;
      background-color: #ffffff;
      border-radius: 50%;
      position: absolute;
      left: 0;
    }
    &:checked + label:after {
      content: "";
      position: absolute;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        left: 4px;
        top: 5px;
        width: 10px;
        height: 5px;
        border-radius: 1px;
        border-left: 2px solid #04b66c;
        border-bottom: 2px solid #04b66c;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
  }
}



